* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

nav {
  height: 10vh;
  background-color: #2d3436;
  background-image: linear-gradient(315deg, #2d3436 0%, #000000 74%);
}

.nav-links {
  display: flex;
  list-style: none;
  width: 50%;
}

.nav-links li a {
  color: white;
  text-decoration: none;
  font-size: 16px;
}
